:root {
    --display: flex;
    --column: column;
    --center: center;
}
header {
    display: var(--display);
    flex-direction: var(--column);
    align-items: var(--center);
}
main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
section {
    display: var(--display);
    flex-direction: var(--column);
}
.iconSizing {
    width: 50px;
    height: 50px;
}
/* colors for uvIndex*/
.favorable {
    background-color: lightgreen;
}
.moderate {
    background-color: yellow;
}
.high {
    background-color: orange;
}
.severe {
    background-color: red;
}
